:root {
  --clr-blue: hsl(246, 80%, 60%);
  --clr-light-red-work: hsl(15, 100%, 70%);
  --clr-soft-blue-play: hsl(195, 74%, 62%);
  --clr-light-red-study: hsl(348, 100%, 68%);
  --clr-lime-green-exercise: hsl(145, 58%, 55%);
  --clr-violet-social: hsl(264, 64%, 52%);
  --clr-soft-orange-self-care: hsl(43, 84%, 65%);
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);
  --fs-body: 0.9rem;
  --fs-h1: 1.5rem;
  --fs-h3: 2rem;
  --fs-h2: 1.1rem;
  --ff-primary: Rubik, sans-serif;
  --br-primary: 15px;
  --tr-primary: 0.5s all ease;
  --pad-primary: 1.8rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-pale-blue);
}

main {
  padding-top: 5rem;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
}

a {
  color: var(--clr-desaturated-blue);
  font-size: var(--fs-h2);
  text-decoration: none;
  transition: var(--tr-primary);
}

.active, a:hover {
  color: white;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 300;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: 300;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 400;
}

.white {
  color: white;
}

.user-card, .card-content {
  background-color: var(--clr-dark-blue);
}

.user-card {
  grid-area: first-box;
  border-radius: var(--br-primary);
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: inherit;
  padding: var(--pad-primary);
  cursor: pointer;
  transition: var(--tr-primary);
}

.card-content:hover {
  margin-top: 0;
  padding-bottom: 2.8rem;
  background-color: hsl(235, 46%, 40%);
}

.card-content:hover .section img {
  filter: brightness(200%);
}

.user-card + .card, .card + .card {
  margin-top: 1.5rem;
}

.card {
  border-radius: var(--br-primary);
  padding-top: 1.2rem;
  background-position: top -10px right 20px;
  background-repeat: no-repeat;
}

#work {
  grid-area: second-box;
  background-color: var(--clr-light-red-work);
  background-image: url("images/icon-work.svg");
}

#play {
  grid-area: third-box;
  background-color: var(--clr-soft-blue-play);
  background-image: url("images/icon-play.svg");
}

#study {
  grid-area: fourth-box;
  background-color: var(--clr-light-red-study);
  background-image: url("images/icon-study.svg");
}

#exercise {
  grid-area: fifth-box;
  background-color: var(--clr-lime-green-exercise);
  background-image: url("images/icon-exercise.svg");
}

#social {
  grid-area: sixth-box;
  background-color: var(--clr-violet-social);
  background-image: url("images/icon-social.svg");
}

#self-care {
  grid-area: seventh-box;
  background-color: var(--clr-soft-orange-self-care);
  background-image: url("images/icon-self-care.svg");
}

.user-card-content {
  background-color: var(--clr-blue);
  border-radius: inherit;
  padding: var(--pad-primary);
  display: flex;
  align-items: center;
}

.user-card-content p {
  margin-bottom: 0.2em;
}

.profile-picture {
  margin-right: 1rem;
  border: 3px white solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: url("images/image-jeremy.png");
  background-size: cover;
  background-position: center;
}

.card-content .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}


.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.period {
  padding: var(--pad-primary);
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h3: 3.5rem;
    --pad-primary: 2rem;
  }

  main {
    max-width: 700px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "first-box first-box"
      "second-box third-box"
      "fourth-box fifth-box"
      "sixth-box seventh-box";
  }

  .user-card {
    display: flex;
    flex-direction: column;
  }

  .user-card + .card, .card + .card {
    margin-top: 0;
  }

  .user-card-content {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-picture {
    margin-bottom: 2.5rem;
    width: 85px;
    height: 85px;
  }

  .period {
    flex-direction: column;
  }

  .period a + a {
    margin-top: 1.2rem;
  }

  .card {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .card-content {
    flex-grow: 1;
    justify-content: space-between;
  }

  .time {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (min-width: 900px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h3: 3.5rem;
    --pad-primary: 2rem;
  }


  main {
    margin-top: -5rem;

    height: 600px;
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      "first-box second-box third-box fourth-box"
      "first-box fifth-box sixth-box seventh-box";
  }


  .user-card {
    display: flex;
    flex-direction: column;
  }

  .user-card + .card, .card + .card {
    margin-top: 0;
  }

  .user-card-content {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-picture {
    margin-bottom: 2.5rem;
    width: 85px;
    height: 85px;
  }

  .period {
    flex-direction: column;
  }

  .period a + a {
    margin-top: 1.2rem;
  }

  .card {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .card-content {
    flex-grow: 1;
    justify-content: space-between;
  }

  .time {
    flex-direction: column;
    align-items: flex-start;
  }

  .time h3 {
    margin-bottom: 0.1em;
  }
}
